@import url(layout_small.css);
@import url(layout_medium.css);
@import url(layout_large.css);
@import url(header.css);
@import url(navigation.css);
@import url(content.css);
@import url(footer.css);
@import url(border.css);
/* Red rgb 160, 69, 69 */
/* Silver rgb 202, 202, 202*/
/* Black rgb  24, 24, 24*/
/* Grey rgb 170, 170, 170*/
/* Yellow rgba(255, 255, 94, 0.815)*/
html {
    background-color:rgb(24, 24, 24);
    font-family: 'Chakra Petch', 'Roboto', sans-serif;
    color:rgb(202, 202, 202);
}