/* Border Style */
.content-left-border {
    /* background-image: url(../images/left_side.png); */
    /* background-size:stretch; */
    border:inset;
    border-width: 0.25em 0 0.25em 0.25em;
    background-color: rgb(170, 170, 170);

}

.left-border-box {
    background-color: rgb(160, 69, 69);
    border:2px rgb(160, 69, 69) inset;
}

.content-right-border {
    border:inset;
    border-width: 0.25em 0.25em 0.25em 0;
    background-color:rgb(170, 170, 170);
}

/* Border Layout */
.content-left-border {
    display:none;
}
   
.content-right-border {
    display:none;
}
/* Large screen enables border */
@media (min-width:1079px) {
    /* Border Layout */
    .content-left-border {
        display:flex;
        grid-area:clb;
        flex-direction: column;
        justify-content: left;   
        width:auto;
    }

    .left-border-box {
        height: 45px;
        width:auto;
        margin:1em 0 0 0;
    }
   
    .content-right-border {
        display:flex;
        grid-area:crb;
        width:auto;
    }
}