/* Content Container Layout */
.content {
    display:grid;
    grid-area:ct;
    grid-template-areas:
    "hd"
    "nav"
    "ctm"
    "ftr";
}

/* Content Style */
.content-main {
    border:none;
}

.content-post:hover {
    box-shadow: 0 8px 16px 0 rgba(9, 155, 253, 0.507);
}

/* Content Layout */
.content-main {
    display:flex;
    grid-area:ctm;
    flex-direction:column;
}

.content-post {
    display:flex;
    flex-direction:column;
    justify-content:left;
    margin:1em;
    padding:0.5em;
}
