/* Content Style */
.content-main {
    border:none;
}

.content-post {
    border:rgb(160, 69, 69) solid;
    border-width: 0.5em 0px 0px 1em;
    box-shadow: 0 4px 8xp 0 rgba(0,0,0,0.2)
}
    
.button-link {
    color:rgb(24, 24, 24);
    background-color:rgb(170, 170, 170);
}

.button-link:hover {
    color:rgba(255, 255, 94, 0.815);
}

.content-post:hover {
    box-shadow: 0 8px 16px 0 rgba(9, 155, 253, 0.507);
}

img {
    /* padding:1em; */
    width:100%;
    box-shadow:0 0 4px rgba(9, 155, 253, 0.75);
}
