/* Footer Style */
.footer {
    /* background-image: url(../images/footer.png); */
    /* background-size:stretch;
    background-position: bottom; */
    background-color:rgb(170, 170, 170);
    border:inset;
    border-width: 0.25em 0 0.25em 0;
    height:auto;
}