/* Header Layout */
.header {
    display:flex;
    justify-content:left;
    height:100px;
    padding:1em;
    grid-area:hd;
    border:rgb(160, 69, 69) solid;
    border-width: 1em 0 0 0;
}

.header-blog {
    display:flex;
    grid-area:hd;
    padding:1em;
    font-variant-caps:small-caps;
    border:rgb(160, 69, 69) solid;
    border-width: 1em 0 0 0;
}