/* Header Style */
.header {
    font-style:italic;
    font-size:larger;
    font-variant-caps: small-caps;
    border:rgb(160, 69, 69) solid;
    border-width: 1em 0 0 0;
}

.header-blog {
    font-variant-caps:small-caps;
    border:rgb(160, 69, 69) solid;
    border-width: 1em 0 0 0;
}