@media (min-width:600px){
    /* TODO: Setup grid for medium*/
    .main-page {
        display:grid;
        grid-template-columns: auto 600px auto;
        grid-template-areas:
        "lp ct rp"
        "lp ct rp"
        "lp bp rp";
    }

    .left-pad {
        display:flex;
        width:auto;
        grid-area:lp;
    }

    .right-pad {
        display:flex;
        width:auto;
        grid-area:rp;
    }

    .bottom-pad {
        display:flex;
        height:auto;
        grid-area:bp;
    }

    /* Content Container Layout */
    .content {
        display:grid;
        grid-area:ct;
        grid-template-areas:
        "hd"
        "nav"
        "ctm"
        "ftr";
    }

    /* Header Layout */
    .header {
        display:flex;
        justify-content:left;
        height:100px;
        padding:1em;
        grid-area:hd;
    }

    /* Navigation Layout */
    .nav {
        display:flex;
        grid-area:nav;
        flex-direction:row;
    }

    .nav-button {
        display:flex;
        margin:0.5em;
        padding:0.5em;
    }

    /* Content Layout */
    .content-main {
        display:flex;
        grid-area:ctm;
        flex-direction:column;
    }

    .content-post {
        display:flex;
        flex-direction:column;
        justify-content:left;
        padding:0.5em;
    }
    
    .button-link {
        text-align: center;
        text-decoration:none;
        display: inline-block;
    }
    /* Footer Layout */
    .footer {
        display:flex;
        grid-area:ftr;
        margin:0.5em;
        padding:0.5em;
    }
    /* Border Layout */
    .content-left-border {
        display:none;
    }
   
    .content-right-border {
        display:none;
    }
}