@media (min-width:901px) {
    /* TODO:Setup for widescreen */
    .main-page {
        display:grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "lp ct rp"
        "lp bp rp";
    }

    .left-pad {
        display:flex;
        grid-area:lp;
    }

    .right-pad {
        display:flex;
        grid-area:rp;
    }

    .bottom-pad {
        display:flex;
        grid-area:bp;
    }

    /* Content Container Layout */
    .content {
        display:grid;
        grid-area:ct;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        "clb hd hd crb"
        "clb nav nav crb"
        "clb ctm ctm crb"
        "clb ftr ftr crb";
    }

    /* Header Layout */
    .header {
        display:flex;
        justify-content:left;
        height:100px;
        padding:1em;
        grid-area:hd;
    }

    /* Navigation Layout */
    .nav {
        display:flex;
        grid-area:nav;
        flex-direction:row;
    }

    .nav-button {
        display:flex;
        margin:0.5em;
        padding:0.5em;
    }

    /* Content Layout */
    .content-main {
        display:flex;
        grid-area:ctm;
        flex-direction:row;
    }

    .content-post {
        display:flex;
        flex-direction:column;
        justify-content:left;
        padding:0.5em;
    }
    
    .button-link {
        text-align: center;
        text-decoration:none;
        display: inline-block;
    }
    /* Footer Layout */
    .footer {
        display:flex;
        height:100px;
        grid-area:ftr;
        margin:0;
        padding:0.5em;
    }
    /* Border Layout */
    .content-left-border {
        display:flex;
        grid-area:clb;
        width:150px;
    }
   
    .content-right-border {
        display:flex;
        grid-area:crb;
        width:50px;
    }
}