@media (max-width:520px) {
    /* Page Styling */
    /* Single column */
    .main-page {
        display:grid;
        grid-template-areas:
        "ct"
        "bp";
    }

    .left-pad {
        display:none;
    }

    .right-pad {
        display:none;
    }

    .bottom-pad {
        display:flex;
        grid-area:bp;
        border:red 2px solid;
    }

    /* Content Container */
    .content {
        display:grid;
        grid-area:ct;
        grid-template-areas:
        "hd"
        "nav"
        "ctm"
        "ftr";
        border:red 2px solid;
    }

    /* Header Layout */
    .header {
        display:flex;
        justify-content:left;
        height:100px;
        padding:1em;
        grid-area:hd;
    }

    /* Navigation Style */
    .nav {
        display:flex;
        grid-area:nav;
        flex-direction:row;
    }

}